extends layout

block content
	.container
		h1 About Us
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet quam sagittis leo semper, non tincidunt metus ornare. Nullam hendrerit maximus mi a maximus. Praesent in nisi maximus, consectetur mauris ut, congue tortor. Aenean non venenatis ipsum. Morbi nisl neque, hendrerit id dolor congue, ornare lacinia felis. Fusce ullamcorper interdum lacus sit amet efficitur. Curabitur vitae pretium lacus. Integer cursus tortor augue. Cras nec nibh massa. Cras diam arcu, porta et fringilla quis, rhoncus nec quam. Ut vel mollis massa, ac laoreet justo. Nam quis malesuada lacus, eu facilisis mauris. Aenean maximus gravida iaculis.
		a.btn.btn-default(href="#") View Details